# EditorConfig is awesome: https://EditorConfig.org
# Version: 2.1.0-20260304-Selasa-23:48 WIB
# Maintained by: waktuberhenti

# top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Markdown files
[*.md]
trim_trailing_whitespace = false
max_line_length = 120

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# JSON files
[*.json]
indent_style = space
indent_size = 2

# JavaScript/TypeScript files
[*.{js,ts,jsx,tsx}]
indent_style = space
indent_size = 2
max_line_length = 100

# Shell scripts
[*.sh]
indent_style = space
indent_size = 2

# Makefile
[Makefile]
indent_style = tab

# Python files
[*.py]
indent_style = space
indent_size = 4

# Java files
[*.java]
indent_style = space
indent_size = 4

# Go files
[*.go]
indent_style = tab

# Documentation files
[*.{md,markdown}]
max_line_length = 120
